@charset "utf-8";
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 글꼴 사용법 */
/* font-family: 'NanumSquareRound',sans-serif; */
/* font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; */


*{margin:0;padding:0;border:0;list-style:none;box-sizing:border-box;}
html,body,select,button{font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color:#393939;scroll-behavior:smooth;}
*::selection{background-color:#000000;color:#ffffff;}
h1,h2,h3,h4{font-size:16px;font-weight:400;}
a{display:block;text-decoration:none;color:inherit;}
img,svg,video{border:0;line-height:0;vertical-align:bottom;}



/* ----------header---------- */
header{width:100%;
    background-color:#ffffff;
    position:fixed;
    top:0;
    left:50%;
    transform:translateX(-50%);
    z-index:2;}

/* 상단메뉴 */
header>div:nth-child(1){width:95%;
    height:90px;
    margin:0 auto;
    display:flex;
    align-items:center;}
header>div:nth-child(1)>div{flex:1;}

.menu_nav{width:18px;
    height:15px;
    text-align:center;
    position:relative;
    cursor:pointer;}
.menu_nav svg{position:absolute; stroke-width:1.4; height:2px;
    transition:0.5s;}
.menu_nav .m_bar1{width:10px; top:0; left:0;}
.menu_nav .m_bar2{width:10px; top:0; left:8px;}
.menu_nav .m_bar3{width:18px; top:50%; left:0;} /*고정*/
.menu_nav .m_bar4{width:10px; top:100%; left:0; transform:rotate(30deg);}
.menu_nav .m_bar5{width:10px; top:100%; left:8px; transform:rotate(-30deg);}

.logo{height:30px;
    text-align:center;}
.logo a{height:100%;}
.logo img{height:100%;}

.menu_right{display:flex;
    justify-content:right;}
.menu_right>div:nth-child(1){margin-right:20px;}
.search{height:100%;
    padding:5px 10px;
    display:flex;
    align-items:center;
    gap:4px;
    border-radius:20px;
    background-color:#f0f0f0;}
.search input{width:150px;
    height:18px;
    line-height:18px;
    border:0;
    padding-left:4px;
    outline:none;
    background-color:#f0f0f0;}
.search svg{cursor:pointer;}
.shopping a{height:28px;
    display:flex;
    align-items:center;}

/* 하단메뉴 */
header>div:nth-child(2){width:calc(100vw - 50px);
    position:absolute;
    top:90px;
    left:50%;
    transform:translateX(-50%);
    background-color:#ffffff;
    z-index:1;
display:none;
}

nav{width:960px;
    margin:50px auto 100px;}
nav>ul{display:flex;
    justify-content:space-between;
    text-align:center;}
nav>ul>li>a{font-size:20px;}
nav>ul>li>ul{margin-top:30px;}
nav>ul>li>ul>li{margin-bottom:22px;
    font-size:14px;
    font-weight:400;}

.series li:nth-child(-n+4){color:#85CDE3;}
.product>ul>li{border-top:1px solid #dddddd;
    padding-top:22px;}
.product>ul>li:first-child{border:0;
    padding-top:0;}
.product ul ul{margin-top:6px;}
.product li li{line-height:22px;
    font-weight:300;
    color:#696969;}

nav a{padding-bottom:2px;}


/* ----------wrap---------- */
.wrap{position:relative;
    top:90px;}


/* ----------footer---------- */
footer{background-color:#263935;
    color:#dddddd;
    font-size:12px;
    font-weight:100;
    line-height:18px;
    letter-spacing:1px;
    position:relative;}
.ftwrap{width:87.5%;
    margin:0 auto;
    padding:80px 0 60px;
    display:flex;
    justify-content:space-between;}
.ftwrap>div{flex:1;}
    /* f1 */
.f1 div{margin-bottom:20px;}
.f1_menu ul{margin-top:30px;}
.f1_menu ul::after{display:block; content:""; clear:both;}
.f1_menu ul li{float:left;
    margin-left:20px;
    font-size:14px;}
.f1_menu ul li:first-child{margin-left:0;}
    /* f2 */
.f2{display:flex;
    justify-content:center;
    align-items:center;}
.f2 img{width:200px;}
    /* f3 */
.f3::after{display:block; content:""; clear:both;}
.f3 div{width:50%;
    height:50%;
    float:left;
    font-size:14px;
    font-weight:300;}
.f3 div:nth-child(2n){padding-left:20px;}
.f3 li{font-size:12px;
    font-weight:100;}
.f3 li:first-child{margin-top:5px;}
.f3 li span{margin-right:14px;}
.f3 .bank ul span{margin-right:30px;}
.f3 .bank li:last-child span{margin-right:16px;}
.f3 .sns ul{height:fit-content;
    display:flex;
    gap:12px;}
.f3 .sns li{width:22px;
    margin-top:22px;}
.f3 .sns li img{width:100%;}
    /* gotop */
.gotop{width:26px;
    height:26px;
    line-height:24px;
    border:1px solid rgba(221,221,221,0.5);
    border-radius:2px;
    font-size:11px;
    font-weight:400;
    text-align:center;
    color:rgba(255,255,255,0.6);
    position:absolute;
    top:80px;
    right:2.5%;
    cursor:pointer;}


/*---------- animate ----------*/
.fadeinup{animation:fadeinup 1s ease-in-out;
    animation-fill-mode:both;}
.fadein{animation:fadein 1.4s ease-in-out;
    animation-fill-mode:both;}
@keyframes fadeinup{
    0%{opacity:0;
        transform:translateY(30%);}
    100%{opacity:1;
        transform:translateY(0);}
}
@keyframes fadein{
    0%{opacity:0;}
    100%{opacity:1;}
}







/*---------- 반응형 ----------*/
/* 태블릿 */
@media only screen and (max-width:1319px){
    /*---- header ----*/
    header>div:nth-child(2){width:100%;}
    nav{width:95%;
        margin:40px auto;}

    /*---- footer ----*/
    .ftwrap{width:95%;
        padding:135px 0 40px;
        display:block;
        position:relative;}
    .ftwrap>div{width:100%;}
    /* f1 */
    .f1 div{text-align:center;}
    .f1_menu ul{width:fit-content;
        margin:0 auto;}
    /* f2 */
    .f2{position:absolute; top:40px;}
    .f2 img{width:120px;}
    /* f3 */
    .f3{margin-top:60px;}
    .f3 div{width:40%;
        height:100px;}
    .f3 div:nth-child(2n){padding-left:0;}
    .f3 div:nth-child(2){display:none;}
    .f3 .sns{width:20%;}
    /* gotop */
    .gotop{top:40px;}

}/* 태블릿 끝 */

/* 모바일 */
@media only screen and (max-width:768px){ 
    /*---- header ----*/
    header>div:nth-child(1){height:60px;}
    .menu_right>div:nth-child(1){margin-right:10px;}
    .search input{width:100%;
        height:100px;
        border-radius:10px;
        font-size:26px;
        text-align:center;
        color:#dddddd;
        background-color:rgba(0,0,0,0.8);
        position:absolute;
        top:90px;
        left:0;
    display:none;}
    .search input::selection{background-color:#dddddd;
        color:#393939;}
    
    header>div:nth-child(2){top:59px;}
    nav{width:95%;
        margin:50px auto 60px;}
    nav>ul{display:block;}
    nav>ul>li{margin:22px 0;}
    nav>ul>li>ul{display:none;}

    /*---- wrap ----*/
    .wrap{top:60px;}
}/* 모바일 끝 */

/* 모바일S */
@media only screen and (max-width:550px){
    /*---- footer ----*/
    .f3 div{width:50%;}
    .f3 .sns{width:100%;
        margin-top:20px;}
    .f3 .sns ul{justify-content:center;}
}/* 모바일S 끝 */